* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 2px solid red;
}

#content {
    display: flex;
    justify-content: center;
    flex: 1;
}

#board-wrapper {
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 2px solid red;
}

.square {
    height: 150px;
    width: 150px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

#footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid red;
}